.detail1 {
  margin-left: 148px;
  display: inline;
  font-weight: 400;
}
.detail2 {
  margin-left: 50px;
  display: inline;
  font-weight: 400;
}
.detail3 {
  margin-left: 128px;
  display: inline;
  font-weight: 400;
}
.detail4 {
  margin-left: 126px;
  display: inline;
  font-weight: 400;
}
.detail5 {
  margin-left: 70px;
  display: inline;
  font-weight: 400;
}
